html, body {
	margin:0;
	padding:0;
}

/* INDEX */
#spotlight {
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
}

.options {
	text-align:center;
}
 

#form{
	background-color:white;
	width:350px;
	height:300px;
	margin-top:50px;
	margin-left:600px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}

#footer {
	text-transform: uppercase;
	font-size:20px;
}

#button {
	margin-left:100px;
	font-family: 'Raleway', sans-serif;
}

/*REGISTER*/

#spotlighttwo {
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
}



/*PROFILE*/

#sidebar {
	height:600px;
}

#hello 	{
	margin-left:10px;
}

/*WALL*/

#allblogs {
	margin-left:50px;
}


#para {
	font-weight:bold;
}