html, body {
	margin:0;
	padding:0;
}

#homebody {
	background:url("/images/backgroundimage.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
    height:1000px;
	width:auto;
	/*margin:0 auto;*/
}

#loginbox {
	background-color:white;
	opacity:0.3;
	margin:auto;
	float:center center;
	color:black;
	width:300px;
	height:300px;
}

#logininfo {
	text-align:center;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
}