doctype
html
	head
		title Profile: Posts
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body
		nav.white.black-text.center.spotlight
			ul
				li(style="font-size:30px; font-family: 'Raleway', sans-serif; text-transform:uppercase; margin-left:10px") Spotlight blog
				li(style="font-family: 'Raleway', sans-serif; text-transform:uppercase; margin-left:10px")
					a(href="/profile").black-text Profile
				li(style="font-family: 'Raleway', sans-serif; text-transform:uppercase; margin-left:10px")
					a(href="/wall").black-text Wall
				li(style="font-family: 'Raleway', sans-serif; text-transform:uppercase; margin-left:10px")
					a(href="/logout").black-text Logout

		.rows
			img#image(src="/images/copy.png").col.s12.responsive-img
			
		each personalpost in list
			ul.profileposts.z-depth-4
				li#text1 Your Post: 
				li#text Title: #{personalpost.title}
				br
				li#text Blog: #{personalpost.blog}
