doctype
html
	head
		title Profile 
		link(rel="stylesheet" href="./main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			nav.white.black-text.center(id="spotlight") Spotlight blog
				a(href="#", data-activates="dropdown1" id="").dropdown-button.btn.right Options
				ul(id="dropdown1").dropdown-content 
					li 
						a(href="/myposts").brand-logo.black-text.right My Posts
					li 
						a(href="/myposts").brand-logo.black-text.right Wall
					li.divider
					li 
						a(href="/myposts").brand-logo.black-text.right Logout
			.rows
				img#image(src="/images/backgroundimage.png").col.s12
			
		.contaner
			.row
				.col.s4
					h3.amber-text.lighten-2 Username: 
						h4 #{user.username}
					br
					br
					h3.amber-text.lighten-2 Email: 
						h4 #{user.email}
				.col.s8
					.model
						.model-content
							h4 Modal Header
							h3 Posts: 
							form(name="form" method="post" action="/writingblog")
								input#title(type="text" name="title" placeholder="Blog Title" required)
								br
								br
								textarea(id="textspace", name="blog", placeholder="My thoughts...", rows="100", columns="100" required)
								br
								br
								input(id="submit" type="submit", value="Submit").btn.amber.lighten-2.waves-effect.waves-light.black-text 


								h2#err-message= message
						.model-footer
							a(href="#").modal-action.model-cloe.waves-effect.waves-green.btn-flat Agree


		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript" src="js/materialize.min.js")

		script.
			$(document).ready(function(){
			 $('#dropdown1').dropdown({
				inDuration: 300,
				outDuration: 225,
				constrainWidth: false, // Does not change width of dropdown to that of the activator
				hover: true, // Activate on hover
				gutter: 0, // Spacing from edge
				belowOrigin: false, // Displays dropdown below the button
				alignment: 'left', // Displays dropdown with edge aligned to the left of button
				stopPropagation: false // Stops event propagation
				}
			);
			});