doctype
html
	head
		title Register User
		link(rel="stylesheet" href="./main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			nav.white.black-text.center(id="spotlighttwo") Spotlight Blog
				a(href="/").brand-logo.black-text.right Login
		.rows
			img#image(src="/images/backgroundimagetwo.png").col.s12
		.formbox
			form(name="form" method="post" action="/registeruser")
				h2 Create an Account
				br
				br
				label Username:
				input#registeruser(type="text" name="registername" placeholder="username" required)
				br
				label Email:
				input#registeremail(type="text", name="registeremail", placeholder="example@email.com" required)
				br
				label Password:
				input#registerpassword(type="password" name="registerpassword" placeholder="password" required)
				br
				br
				button#button(type="submit").btn.amber.lighten-2.waves-effect.waves-light.black-text Submit 
						i.material-icons.right send 
		br
		br
		br
		br
		br
		br
		.rows
			img(src="/images/backgroundimage.png").col
		footer
			nav.white.black-text.center.upper(id="footer") Connect with other artists around the world


		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript" src="js/materialize.min.js")
