doctype 
html 
	head
	body
		header
			nav.white.black-text.center(id="spotlight") Spotlight blog
				a(href="register/new").brand-logo.black-text.right Register
		.rows
			img#image(src="/images/backgroundimage.png").col.s12responsive-img

		p=post.title
		p=post.blog
