html, body {
	margin:0;
	padding:0;
}

/* INDEX */
.spotlight {
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
	margin-left:10px;
}

.options {
	text-align:center;
}
 

#form{
	background-color:white;
	width:350px;
	height:300px;
	margin-top:50px;
	margin-left:600px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}

#footer {
	text-transform: uppercase;
	font-size:20px;
}

#button {
	margin-left:100px;
	font-family: 'Raleway', sans-serif;
}

/*REGISTER*/


/*PROFILE*/

#listheader {
	position:none;

}

#list {
	display:inline;
	position:none;
}
}

#hello 	{
	margin-left:10px;
}

#dropdown1 li {
	display:inline-block;
}

#searchengine {
	margin-top:100px;
}



/*WALL*/

#allblogs {
	margin-left:50px;
}


#para {
	font-weight:bold;
	margin-left:20px;
}

#border {
	border:2px solid black;
	margin-;color-interpolation-filters: 
}

#body {
	margin-left:20px;
}
